
.mother{
    z-index: 100;
}

#intro-dodder{
    height: 50vh;
}
/* 
#body-bg span{
    background-color: rgb(139 142 75);
} */

#intro-dodder img{
    height: 100%;
}
a{
    color: wheat;
}

#welcome a{
    color: #dadada00 !important;
}

body{
    background-color: rgb(0, 0, 0);
    margin: 0 !important;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

#bg-video{
    position: absolute;
    top: 0%;
    /* height: 100%; */
    z-index: 0;
    left: 0%;
    width: 100%;
}

@keyframes scroll {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

#dodder-wrap{
    position: fixed;
    top: 10vh;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-wrap: no-wrap;
}

#audio-buttons{
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
}


#cancel-audio{
    visibility: hidden;
}

#text{
    width: 95%;
    height: 30%;
    text-align: right;
    padding: 25% 0;
    margin: 0 30% 60% 0;
    /* color: rgba(60, 70, 12, 0); */
    z-index: 1;
    font-size: 2.25em;
    opacity: 0.75;
    text-shadow:0px 1px 2px rgb(152, 141, 121);
    color: rgb(74, 74, 24);

}

.instr2{
    color: rgb(165, 153, 130);
}

#dodder{
    visibility: none;
}

#instr-text{
    color: rgb(110, 110, 36);
    font-size: 1.1em;
    padding-top: 2%;
}

#body-bg{
    margin: 0;
    position: relative;
    background-color: black;
    height: 100vh;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;

}

#dodder-left{
    height: 100vh;
    width: 40%;
    z-index: 100;
}

#dodder-main{
    /* width: 100%;
    height: 80vh;
    display: flex;
    align-items: center; */
    height: 60vh;
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}

#text_message{
    border: 2px solid grey;
    width: 50%;
}

#audio-record{
    width: 100%;
    /* justify-content: space-between; */
    /* display: flex; */
}

.recording{
    color: white;
    background-color: rgb(149, 4, 4) !important;
}

.idle{
    color:#0f0f0f;
    background-color: white !important;
}

button:hover{
    opacity: 1;
}

#top{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
}


button{
    opacity: 0.75;
    z-index: 100;
    font-size: 1em;
    display: block;
    font-weight: 100;
    width: 50%;
    margin: 1% 2%; 
	border-radius:6px;
	cursor:pointer;
    height: 8vh;
    mix-blend-mode: color-dodge;
	padding: 1% 2%;
	text-decoration:none;
}

#dodder-web-highlight{
    color: #ffffff;
    padding: 3px;
    text-decoration: underline;
    mix-blend-mode: color-dodge;
    text-shadow: 2px 0 2px #cb00ff, 1px 1px 1px #ff00dbf2, -2px 0px 1px rgb(255 0 240);
    font-size: 1.1em;
}

#dodder-web{
    color: wheat;
    width: 100%;
    top: 20vh;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: scroll;
    position: absolute;
    left: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

.protected{
    z-index: 100;
}

#signal-dodder{
    position: relative;
    z-index: 100;
    padding: 0 2%;
    color: rgb(191, 191, 214);
    font-size:1.3em;
    text-shadow: 2px 0 2px #3c357c81, -2px 0 2px rgb(63, 62, 120), 4px 0 3px #5a548dd7, -4px 0 3px rgba(91, 90, 146, 0.482), 0 1px 1px #a6a6a6b9;

}

.horizontal{
    display:flex;
    /* flex-wrap: wrap; */
    align-items: center;
    overflow: visible;
}

.dodder-signal{
    color:wheat;
}

#hello-daughter{
    color: wheat;
    justify-content: space-between;
    display: flex;
    position: relative;
    z-index: 100;
    padding: 1% 2% 0 2%;
}
#hello-daughter img{
    height: 60px;
    
}

#hello-daughter form{
    width: 80%;
}

#dodder-audio audio{
    display: block;
}

#open-archive{
    z-index: 100;
    width: 40%;
}

#dodder-web-invite{
    /* background-color: rgb(139 142 75); */
    width: 100%;;
    text-shadow: 
    -1px 0 1px #000000b3, 
    -1px 0 1px #fffffff2,
    -2px 0px 1px rgb(0, 0, 0);
    top: 0;
    left: 0;
    position: absolute;
    /* height: 25vh; */
    color: black;
    background-color:  rgb(139 142 75);

}

#intro{
    text-shadow: 0 1px #000000cc, -1px 0 1px #fffffff2, -2px 0px 1px rgb(255 255 255);
    /* color: rgb(102, 101, 101) !important; */
    font-size: 1.1em;
    padding: 1% 2%;
    width: 100%;
    mix-blend-mode: color-burn;

}

#welcome{
    text-shadow: 0px 1px 2px #000000d4, -2px -1px 1px rgb(0 0 0 / 43%), 1px 0px 1px rgb(32 4 4), 0 2px 3px #000000, 0 -2px 2px rgb(94 123 4);
    mix-blend-mode: difference;
    margin: 1% 0 0 0;
    padding:0;
    color: rgb(139 142 75);

}

#grow_dodder{
    display: flex;
    margin-bottom: 1%;
    font-size: 1.2em;
    font-weight: 600;
}

/* #grow_dodder span{
    mix-blend-mode: difference;
} */
